.search {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    .cross-button {
        position: absolute;
        right: -0.4rem;
        top: -0.6rem;
        z-index: 2;
    }
}
.search-WA {
    @extend .search;
    animation-name: searchContainerAnimation;
    animation-duration: 1s;
    animation-direction: normal;
    transition-timing-function: ease-in;
}
.search-input-container {
    position: relative;
    width: 600px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    .search-input {
        width: 90%;
        height: 70%;
        border: none;
        border-radius: 5px;
        font-size: 32px;
        background-color: #f1f4ff;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 400;
        outline: none;
        padding-left: 4rem;
    }
    .search-input-WA {
        @extend .search-input;
        animation-name: iptAnimations;
        animation-duration: 1s;
        animation-direction: normal;
        transition-timing-function: ease-in;
    }
}
.search-input-container-WA {
    @extend .search-input-container;
    animation-name: searchInputAnimations;
    animation-direction: normal;
    animation-duration: 1s;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50px;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
        no-repeat 50% 50%;
    background-size: contain;
    opacity: 0.6;
    right: 10px;
    cursor: pointer;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    pointer-events: all;
}
.search-image {
    position: absolute;
    left: 6%;
    top: 30%;
    width: 40px;
}
.search-image-WA {
    @extend .search-image;
    animation-name: searchImageAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.search-list {
    width: 600px;
    max-height: 40vh;
    min-height: 7vh;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: absolute;
    top: 7rem;
    border-radius: 5px;
    overflow-y: auto;
    & li {
        list-style: none;
        padding: 0.5rem 1rem;
        font-size: 18px;
        cursor: pointer;
        &:hover {
            background-color: #f1f4ff;
            transition: 0.3s ease-in-out;
            font-size: 18.5px;
            color: #333;
        }
        &:first-child {
            border-radius: 5px 5px 0 0;
        }
        &:last-child {
            border-radius: 0 0 5px 5px;
        }
    }
    .list-no-data {
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #b6b8bf;
    }
}
.loading {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}
.hidden {
    display: none;
}

@keyframes searchContainerAnimation {
    from {
        top: 30%;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    to {
        position: absolute;
        top: 10px;
        left: 80%;
    }
}

@keyframes searchInputAnimations {
    from {
        width: 600px;
    }
    to {
        width: 200px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: unset;
        height: 60px;
    }
}

@keyframes searchImageAnimation {
    from {
        width: 40px;
    }
    to {
        width: 25px;
    }
}
@keyframes iptAnimations {
    from {
        font-size: 32px;
    }
    to {
        font-size: 12px;
        padding-left: 2rem;
    }
}

.search-input-nav {
    width: 100%;
    height: 45px;
    border: none;
    z-index: 1;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f1f4ff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    padding-left: 3rem;
}
