.nav-container {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 60px;
    // background-color: rgba($color: rgb(6, 6, 6), $alpha: 0.5);
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .nav-input {
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        width: 200px;
    }
}
.hidden {
    display: none;
}
